<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        {{>icon}}
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{help_msg}}</p>
        </div>

        {{>footer}}
    </body>
</html>