<!DOCTYPE html>
<html>
    <head>
        <title>404 Not found</title>
        {{>icon}}
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>